@{
    ViewBag.Title = "Shops";
}

<h1>Our restaurants:</h1>
<div class="shops">
    <h3>Kyiv:</h3>
    <table>
        <div class="shopsShop">
            <tr style="vertical-align: top">

                <td>
                    <img width="300" height="200" src="@Url.Content("~/Content/Images/Shop1.jpg")"/>
                </td>
                <td>
                    <div class="shopsContactInfo" style="margin-left: 10px">
                        <h4>Address:</h4>
                        Khreschatuk st., Building 5
                    <br />
                        <br />
                        <h4>Phone:</h4>
                        +38 (333) 333-33-33
                    </div>
                </td>

            </tr>
        </div>
    </table>
</div>
