@{
    ViewBag.Title = "Career";
}

<div class="container" style="margin-bottom: 20px">
    <table>
        <tr>
            <td style="vertical-align: top">
                <p>@Html.ActionLink("History", "History", "About")</p>
                <p>@Html.ActionLink("Career", "Career", "About")</p>
                <p>@Html.ActionLink("Contact Us", "ContactUs", "About")</p>
            </td>
            <td style="vertical-align: top">
                <div class="containerForPage">
                    <h1>Career</h1>
                    <br />
                    Jobs:
                    <ul>
                        <li>Courier</li>
                        <li>Cashier</li>
                        <li>Technical worker</li>
                    </ul>
                    <br />
                    Contact us for more information.
                </div>
            </td>
        </tr>
    </table>
</div>
