@{
    ViewBag.Title = "History";
}

<div class="container" style="margin-bottom: 20px">
    <table>
        <tr>
            <td style="vertical-align: top">
                <p>@Html.ActionLink("History", "History", "About")</p>
                <p>@Html.ActionLink("Career", "Career", "About")</p>
                <p>@Html.ActionLink("Contact Us", "ContactUs", "About")</p>
            </td>
            <td style="vertical-align: top">
                <div class="containerForPage">
                    <h1>History</h1>
                    <br />
                    Sushi Vesla company was founded in 2013!
                </div>
            </td>
        </tr>
    </table>
</div>
