body {
    margin: 0;
    padding: 0;
    background: #000000 url(images/img01.jpg) repeat left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4D4D4D;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #3E3530;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #3E3530;
}

    a:hover {
    }

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 0px 0px 30px;
    background: url(images/img02.jpg) no-repeat left top;
}

/* Logo */

#logo {
    margin: 0;
    padding: 0;
    color: #000000;
    float: left;
}

    #logo h1, #logo p {
        margin: 0;
        padding: 0;
    }

    #logo h1 {
        letter-spacing: -1px;
        /*text-transform: lowercase;*/
        font-size: 3.8em;
    }

    #logo p {
        margin: 0;
        padding: 0px 0 0 2px;
        font: normal 14px Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        color: #FFFFFF;
    }

    #logo a {
        border: none;
        background: none;
        text-decoration: none;
        color: #FFFFFF;
    }

/* Cart */

#cart {
    float: right;
    margin: .8em;
    color: Silver;
    background-color: #555;
    padding: .5em .5em .5em 1em;
}

    #cart A {
        text-decoration: none;
        padding: .4em 1em .4em 1em;
        line-height: 2.1em;
        margin-left: .5em;
        margin-right: .5em;
        background-color: #333;
        color: White;
        border: 1px solid black;
    }

/* Search */

#search {
    float: left;
    width: 350px;
    height: 30px;
    padding: 20px 0px 0px 0px;
}

    #search form {
        height: 41px;
        margin: 0;
        padding: 10px 0 0 50px;
    }

    #search fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #B9B9B9;
    color: #000000;
}

/* Menu */

#menu {
    width: 980px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}

    #menu ul {
        margin: 0;
        padding: 50px 0px 0px 0px;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        float: left;
    }

    #menu a {
        display: block;
        width: 130px;
        height: 30px;
        margin-right: 1px;
        padding: 9px 0px 0px 0px;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #FFFFFF;
        border: none;
    }

        #menu a:hover, #menu .current_page_item a {
            text-decoration: none;
        }

    #menu .current_page_item a {
        padding-left: 0;
    }

/* Page */

#page {
    width: 1000px;
    margin: 0 auto;
    background: url(images/img04.jpg) repeat-y left top;
    padding: 0px;
}

#page-bgtop {
    background: url(images/img03.jpg) no-repeat left top;
}

#page-bgbtm {
    background: url(images/img05.jpg) no-repeat left bottom;
}

/* Content */

#content {
    float: right;
    width: 600px;
    padding: 20px 20px 20px 10px;
}

.post {
    border-bottom: 1px dotted #E7E2DC;
}

    .post .title {
        letter-spacing: -.5px;
        padding: 20px 10px 0px 30px;
        font-size: 30px;
    }

        .post .title a {
            color: #3E3530;
            border: none;
        }

    .post .meta {
        margin-bottom: 30px;
        padding: 0px 30px 0px 30px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-style: italic;
    }

        .post .meta .date {
            float: left;
        }

        .post .meta .posted {
            float: right;
        }

        .post .meta a {
        }

    .post .entry {
        padding: 0px 30px 20px 30px;
        padding-bottom: 20px;
        text-align: justify;
    }

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Product */

.productItem {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
    min-height: 155px;
}

    .productItem:first-child {
        border-top: none;
        padding-top: 0;
    }

    .productItem H3 {
        font-size: 1.9em;
        margin: 0 0 .25em 0;
        font-weight: bold;
    }

    .productItem H4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

/* Comments */

.comments {
    padding-top: 20px;
}

    .comments H3 {
        font-size: 1.4em;
        margin: 0 0 .25em 0;
        font-weight: bold;
    }

.commentsItems {
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

.commentItem {
    padding-top: .7em;
    margin-bottom: 1.2em;
}

    .commentItem:first-child {
        border-top: none;
        padding-top: 0;
    }

    .commentItem H3 {
        font-size: 1.9em;
        margin: 0 0 .25em 0;
        font-weight: bold;
    }

    .commentItem H4 {
        font-size: 1.1em;
        margin: .4em 0 .2em 0;
    }

.leaveReply {
    padding-top: 1.4em;
}

.addCommentArea {
    padding-right: 50px;
    padding-left: 50px;
}

    .addCommentArea textarea {
        font-family: Arial, Helvetica, sans-serif;
    }

.commentDate {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: gray;
}

/* News on Home page */

.newsItem {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: 1em;
    /*border-bottom: 1px dotted gray;*/
}

    .newsItem:first-child {
        border-top: none;
        padding-top: 0;
    }

    .newsItem H3 {
        font-size: 2.2em;
        margin: .25em 0 .1em 0;
        font-weight: bold;
    }

.mewsDate {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: gray;
}

.newsBody {
    font-size: 1.2em;
}

/* Banner on home page */

#banner {
    padding: 15px 0px 0px 0px;
    margin-bottom: 15px;
    /*border-top: 1px solid #CFCFCF;*/
}

#slider {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

    #slider .viewer {
        width: 600px;
        height: 450px;
        overflow: hidden;
        margin: 0 auto;
    }

        #slider .viewer .reel {
            display: none;
            height: 450px;
        }

            #slider .viewer .reel .slide {
                position: relative;
                width: 600px;
                height: 450px;
            }

/* Page numbers */

.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

    .pager A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        .pager A:hover {
            background-color: Silver;
        }

        .pager A.selected {
            background-color: #353535;
            color: White;
        }

.actionButtons A {
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .5em 1.5em .5em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

INPUT.actionButtons {
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

INPUT.updown {
    font: 1.4em Arial;
    margin: 0 0 0 0;
    text-decoration: none;
    padding: 0 0 0 0;
    background-color: none;
    border: none;
}

/* Shops */

.shops {
    padding-top: 20px;
}

    .shops H3 {
        font-size: 1.4em;
        margin: 0 0 .25em 0;
        font-weight: bold;
    }

.shopsShop {
    margin-bottom: 10px;
}

.shopsContactInfo {
    padding-left: 2em;
}

    .shopsContactInfo H4 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

/* Search */

.search {
    padding-top: 20px;
}

    .search H3 {
        font-size: 1.4em;
        margin: 0 0 .25em 0;
        font-weight: bold;
    }

.searchTextForSearch {
    font-size: 1.2em;
}

.searchResult {
    font-size: 1.5em;
    color: gray;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

/* Sign In */

.signIn {
    padding-top: 20px;
    padding-left: 20px;
}

    .signIn H3 {
        font-size: 1.2em;
    }

.signInField {
    margin-bottom: 10px;
}

/* Sign Up */

.signUp {
    padding-top: 20px;
    padding-left: 20px;
}

    .signUp H3 {
        font-size: 1.2em;
    }

.signUpField {
    margin-bottom: 10px;
}

/* Validation errors */

.validationErrors {
    font-size: 0.8em;
    color: red;
}

/* Cart page */

.cartPage {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.1em;
}

    .cartPage H3 {
        font-size: 1.5em;
    }

/* Validation errors */

.validationErrors {
    color: red;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 370px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #787878;
}

    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar li {
        margin: 0;
        padding: 0;
    }

        #sidebar li ul {
            margin: 0px 0px;
            padding-left: 25px;
            padding-bottom: 30px;
        }

        #sidebar li li {
            line-height: 30px;
            margin: 0px 30px;
            padding: 0px 0px 0px 15px;
            border-left: none;
            background: url(images/img07.jpg) no-repeat left 12px;
        }

            #sidebar li li span {
                display: block;
                margin-top: -20px;
                padding: 0;
                font-size: 11px;
                font-style: italic;
            }

    #sidebar h2 {
        height: 46px;
        padding-top: 13px;
        padding-left: 50px;
        margin-bottom: 10px;
        background: url(images/img06.jpg) no-repeat left 4px;
        letter-spacing: -.5px;
        font-size: 1.8em;
        color: #696969;
    }

    #sidebar p {
        margin: 0 0px;
        padding: 0px 30px 20px 50px;
        text-align: justify;
    }

    #sidebar a {
        border: none;
        color: #4D4D4D;
    }

        #sidebar a:hover {
            text-decoration: underline;
            color: #8A8A8A;
        }

        #sidebar a.selected {
            font-weight: bold;
        }

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

    #footer p {
        margin: 0;
        padding-top: 20px;
        line-height: normal;
        font-size: 9px;
        text-transform: uppercase;
        text-align: center;
        color: #A0A0A0;
    }

    #footer a {
        color: #8A8A8A;
    }

.adminGrid
{
    font-size:1.2em;
    padding-left:20px;
    padding-top:20px;
}

.adminGrid textarea {
        font-family: Arial, Helvetica, sans-serif;
    }

.adminAddItemLabel
{
    font-weight:bold;
    font-size: 1.2em;
}

.adminActionButtonsLayout
{
    margin-top:20px;
}

.adminActionButtons A {
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

INPUT.adminActionButtons {
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}
